# Exercises in statistics

## Exercise 3

Load in the data "energySoftware.csv" and answer the following questions:
1. Plot the distribution of CPU for each test type
2. Is there a difference in the CPU between bubblesort and bubblesort_ll? (note that the last name contains two small l's and not two capital i's) Justify your choice of test(s). 
3. Is there a difference in the CPU between bubblesort_func and bubblesort_ll2? Justify your choice of test(s). If there is a difference, how big is it?
4. When it comes to time, is there a difference between bubblesort and bubblesort_ll? Justify your choice of test(s).
5. Perform an ANOVA test to test if there is a difference in means across groups for CPU
6. Perform an ANOVA test to test if there is a difference in means across groups for time

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("energySoftware.csv")
df.sample(frac=0.2)

                 test       PKG       CPU  nn nn2   time
1417    bubblesort_ll  0.020996  0.014221          2.465
433    bubblesort_ll2  0.023254  0.017395          3.538
1429    bubblesort_ll  0.020142  0.014221          2.419
1306    bubblesort_ll  0.013489  0.013916          2.444
1104       bubblesort  0.011597  0.010376          2.297
...               ...       ...       ...  ..  ..    ...
511   bubblesort_func  0.021973  0.019775          4.135
428    bubblesort_ll2  0.025208  0.020142          3.722
777   bubblesort_func  0.024231  0.018250          3.395
703     bubblesort_ll  0.019653  0.015137          2.452
961        bubblesort  0.015259  0.011536          3.039

[288 rows x 6 columns]

<h3>Exploring the data</h>

In [35]:
from IPython.display import display

display(df.describe())
print("\n" + "-"*50 + "\n")

print("DataFrame Info")
df.info()
print( "-"*50 )

print("Is anything null?")
print(df.isnull().sum())

               PKG          CPU         time
count  1441.000000  1441.000000  1441.000000
mean      0.017618     0.015021     3.009384
std       0.004464     0.003192     0.571439
min       0.008179     0.007812     1.962000
25%       0.013733     0.012939     2.462000
50%       0.017761     0.015747     3.363000
75%       0.020874     0.017822     3.524000
max       0.026794     0.020325     4.244000

--------------------------------------------------

DataFrame Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1441 entries, 0 to 1440
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   test    1441 non-null   object
 1   PKG     1441 non-null   float64
 2   CPU     1441 non-null   float64
 3   nn      1441 non-null   object
 4   nn2     1441 non-null   object
 5   time    1441 non-null   float64
dtypes: float64(3), object(3)
memory usage: 67.7+ KB
--------------------------------------------------
Is anything null?
test    0
PKG     0
CPU     0
nn      0
nn2     0
time    0
dtype: int64

In [29]:
print("Shape:\n", df.shape,"\n")

print("Columns and types:")
print(df.dtypes,"\n")
# Checking this column for unique values since it has categorical data
print("Unique test types:\n", df['test'].unique())

Shape:
 (1441, 6)

Columns and types:
test     object
PKG     float64
CPU     float64
nn       object
nn2      object
time    float64
dtype: object

Unique test types:
 ['bubblesort' 'bubblesort_func' 'bubblesort_ll2' 'bubblesort_ll']

1. Plot the distribution of CPU for each test type

2. Is there a difference in the CPU between bubblesort and bubblesort_ll? (note that the last name contains two small l's and not two capital i's) Justify your choice of test(s).

3. Is there a difference in the CPU between bubblesort_func and bubblesort_ll2? Justify your choice of test(s). If there is a difference, how big is it?

4. When it comes to time, is there a difference between bubblesort and bubblesort_ll? Justify your choice of test(s).

5. Perform an ANOVA test to test if there is a difference in means across groups for CPU

6. Perform an ANOVA test to test if there is a difference in means across groups for time